@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
}
:root {
  --text-color: #000;
  --background: #c5bfbf;
  --success: #5cb85c;
  --primary: #0275d8;
  --info: #5bc0de;
  --warning: #f0ad4e;
  --danger: #d9534f;
  --inverse: #292b2c;
  --faded: #f7f7f7;
}
.success {
  color: var(--success);
}
.danger {
  color: var(--danger);
}
.capitalize {
  text-transform: capitalize;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  line-height: 1.6;
  background: var(--faded);
}
.container {
  width: 80%;
  margin: auto;
}
.errors {
  display: none;
  width: 100%;
  color: var(--danger);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
/*Forms*/
.my-form {
  width: 80%;
  margin: 5% auto;
  border-radius: 0.5rem;
  background: var(--background);
  padding: 2rem;
}
label {
  display: block;
  text-transform: capitalize;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
}
button:hover {
  background: var(--primary);
  color: var(--faded);
}
input:hover,
select:hover,
button:hover {
  border: none;
}
input[type='text'],
input[type='password'],
input[type='email'],
select,
button {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.2rem;
}
/*Custom classes*/
.text-center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.mb {
  margin-bottom: 1rem;
}
.mt {
  margin-top: 1rem;
}
/*End of global CSS */
header {
  width: 100%;
  color: var(--text-color);
  background: var(--background);
  padding: 2rem 0;
}
header > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
header > div .navbrand {
  font-weight: bold;
  font-size: x-large;
}
header > div nav ul {
  float: right;
}
header > div li {
  display: inline;
  padding: 0.5rem;
  text-transform: capitalize;
}
.badge {
  background: var(--success);
  width: 60%;
  margin: auto;
  padding: 0.25rem;
}
footer {
  background: var(--background);
  padding: 1rem 0;
  width: 100%;
}
footer > div {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 70vh;
}
main {
  min-height: 60vh;
}
main > section {
  background: var(--background);
  border-top: 1px solid var(--faded);
  border-bottom: 1px solid var(--faded);
}
main > aside > div > h3 > select {
  box-sizing: border-box;
  border: none;
}
main > aside > div > table {
  width: 100%;
  text-align: center;
  border-top: 1px solid var(--background);
  border-bottom: 1px solid var(--background);
}
main > aside > div > table button {
  width: 20%;
  margin: 0 0.5rem;
}
main > aside > div > table td {
  border-top: 1px solid var(--background);
}
.count {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  cursor: pointer;
}
.count span {
  background: var(--background);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* responsiveness */
@media (max-width: 600px) {
  header > div {
    display: block;
    text-align: center;
  }
  header > div nav ul {
    float: none;
  }
  .grid {
    display: block;
    width: 100%;
  }
  .count {
    display: block;
    width: 100%;
  }
  .count span {
    margin: 0.2rem;
  }
}
